
.card{
    border:0px solid;
    position:relative;
    background-size:cover;
}

.search-box {
    position : absolute;
    display:inline-block;
    bottom:40%;
    left:0;
    right:0;
    padding:15px;
    text-align:center;
}

.btnspace{
  margin-top: 150px;
}
.preview-info {
  opacity: 1;
}

.card-show{
  display:  none;
}

.image:hover + .card-show{
  display: block;
  color: red;
}

.wrapper{ 
  width: 360px; 
  padding: 20px; 
  margin: 30px auto;
}

#gallery {
  display: grid;

  /* Auto fill the columns based on how many will fit. */
  grid-template-columns: repeat(auto-fill, 300px); 
  
  grid-gap: 10px;
  margin-bottom: 2em;
}
